In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [140]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Assignments/InClassAssignment2/newhousing.csv")

In [141]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
 12  semi-furnished   545 non-null    int64
 13  unfurnished      545 non-null    int64
 14  areaperbedroom   545 non-null    float64
 15  bbratio          545 non-null    float64
dtypes: float64(2), int64(14)
memory usage: 68.2 KB

## Splitting Data & train_test_split

In [143]:
X = data.drop(['price'], axis = 1)
y = data[['price']]

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, shuffle = True)

## Linear Regression

In [145]:
from sklearn.linear_model import LinearRegression
linear_regressor = LinearRegression()
linear_regressor.fit(X_train,y_train)
lr = linear_regressor.score(X_test, y_test)
print(lr)

0.6789132973714737

## Random Forest

In [146]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators = 500, random_state = 20, max_depth = 10)
RF.fit(X_train, y_train)
rf = RF.score(X_test, y_test)
print(rf)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.6922699234793938

## PCA

### Linear Regression

In [147]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_scaled = sc.fit_transform(X)
y_scaled = sc.fit_transform(y)

In [148]:
from sklearn.decomposition import PCA 
pca = PCA(n_components = 5)
pca.fit(X_scaled)
x_pca = pca.transform(X_scaled)

In [149]:
X_train, X_test, y_train, y_test = train_test_split(x_pca, y_scaled, test_size = 0.2, random_state = 49, shuffle = True)

linear_regressor.fit(X_train, y_train)
lr_PCA = linear_regressor.score(X_test, y_test)
print(lr_PCA)

0.7569034117806309

### Random Forest

In [150]:
RF.fit(X_train, y_train)
RF_PCA = RF.score(X_test, y_test)
print(RF_PCA)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.7404347536285889

## Pretty Table

In [151]:
from prettytable import PrettyTable

In [152]:
myTable = PrettyTable(["Model", "Test_score"])

In [153]:
myTable.add_row(["Linear", lr])
myTable.add_row(["Random Forest", rf])
myTable.add_row(["PCA + Linear", lr_PCA])
myTable.add_row(["PCA + RF", RF_PCA])

In [154]:
print(myTable)

+---------------+--------------------+
|     Model     |     Test_score     |
+---------------+--------------------+
|     Linear    | 0.6789132973714737 |
| Random Forest | 0.6922699234793938 |
|  PCA + Linear | 0.7569034117806309 |
|    PCA + RF   | 0.7404347536285889 |
+---------------+--------------------+

The best score for me was PCA + Linear